<%- include("header") %> 

<script>

var UserAddress="";

window.addEventListener('load', async () => {
    if (window.ethereum) {
        window.web3 = new Web3(ethereum);
        try {
            await ethereum.enable();
			UserAddress=web3.eth.coinbase;
			ViewSkillRequestLength();
        } catch (error) {
            alert("User denied account access...");
        }
    }
    else if (window.web3) {
        window.web3 = new Web3(web3.currentProvider);
		UserAddress=web3.eth.coinbase;
		ViewSkillRequestLength();
    }
    else {
        alert('Non-Ethereum browser detected. You should consider trying MetaMask!');
    }
});

function ViewSkillRequestLength()
{
	var ABIString = document.getElementById("hdnContractABI").value; 
	ABIString = ABIString.replace(/'/g , "\"");
	ABIJSON = JSON.parse(ABIString);
	MyContract = web3.eth.contract(ABIJSON).at("<%=ContractAddress%>");
	
	MyContract.ViewSkillRequestLength.call(UserAddress, function(error, result){
		if(!error)
		{

			RequestLength=result.toNumber();
			
			(function loop(i) {
				if (i < RequestLength) new Promise(resolve => {
					ViewSkillRequestHeader(i);
					setTimeout(resolve, 1000);
				}).then(loop.bind(null, i+1));
			})(0);
			
		}
		else
		{
			swal(error);
		}
	})
}

function ViewSkillRequestHeader(index)
{
	requestlistparent = document.getElementById("requestlistparent");
	
	MyContract.ViewSkillRequestHeader.call(UserAddress,index, function(error, result){
		if(!error)
		{
			InstitutionName="";
			ApprovalStatus="";
			ApprovalStatusText="";
			
			InstitutionName = result[0];
			ApprovalStatus = result[1].toNumber(); 
			
			if(ApprovalStatus == "1")
			{
				ApprovalStatusText = "Waiting Approval";
				var listHTML = "<tr><td>"+InstitutionName+"</td><td>"+ApprovalStatusText+"</td><td align='center'><button type='button' class='btn btnsm btn-primary' onClick='ViewSkillRequestDetail("+index+",\""+InstitutionName+"\")'>More Info</button></td></tr>";
			}
			else if(ApprovalStatus == "2")
			{
				ApprovalStatusText = "Partially Approved";
				var listHTML = "<tr><td>"+InstitutionName+"</td><td>"+ApprovalStatusText+"</td><td align='center'>&nbsp;</td></tr>";
			}
			else if(ApprovalStatus == "3")
			{
				ApprovalStatusText = "Approved";
				var listHTML = "<tr><td>"+InstitutionName+"</td><td>"+ApprovalStatusText+"</td><td align='center'>&nbsp;</td></tr>";
			}
			else if(ApprovalStatus == "4")
			{
				ApprovalStatusText = "Rejected";
				var listHTML = "<tr><td>"+InstitutionName+"</td><td>"+ApprovalStatusText+"</td><td align='center'>&nbsp;</td></tr>";
			}
			
			requestlistparent.insertAdjacentHTML('beforeend',listHTML);
		}
		else
		{
			console.log(error);
		}
	})
}

function ViewSkillRequestDetail(index, InstitutionName)
{
	Frm = document.IntelitixForm;
	
	Frm.hdnRequestIndex.value = index;
	Frm.hdnInstitutionName.value = InstitutionName;
	Frm.submit();
}

</script>

</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!--img src="../public/img/1ID-logo.png"-->
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="page-scroll" href="/">Home</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
	
</div>
<!-- /.container -->
</nav>

<form name="IntelitixForm" method="post" action="ViewRequestDetail">
<div class="container container_body">
	<div class="row">
		<div class="col-md-6 center-block">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">View Access Request</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered" id="requestlistparent">
						<tr>
							<td width="40" align="center"><b>Manager Name</b></td>
							<td width="40" align="center"><b>Approval Status</b></td>
							<td width="20" align="center"><b>More Info</b></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="hdnRequestIndex" name="hdnRequestIndex" value="">
<input type="hidden" id="hdnInstitutionName" name="hdnInstitutionName" value="">
<input type="hidden" id="hdnContractABI" name="hdnContractABI" value="[{'constant':true,'inputs':[{'internalType':'address','name':'UserAddress','type':'address'},{'internalType':'string','name':'RequestedBy','type':'string'},{'internalType':'uint256','name':'Skill_Duration','type':'uint256'},{'internalType':'uint256','name':'Skill_Name','type':'uint256'},{'internalType':'uint256','name':'Skill_AssignedDate','type':'uint256'},{'internalType':'uint256','name':'Skill_Hash','type':'uint256'},{'internalType':'uint256','name':'Skill_CertifiedFor','type':'uint256'},{'internalType':'uint256','name':'Skill_OverAll_Status','type':'uint256'}],'name':'AddSkillRequest','outputs':[],'stateMutability':'nonpayable','type':'function'},{'inputs':[{'internalType':'address','name':'UserAddress','type':'address'},{'internalType':'string','name':'FullName','type':'string'},{'internalType':'string','name':'EmailID','type':'string'},{'internalType':'uint256','name':'MobileNo','type':'uint256'}],'name':'AddUser','outputs':[],'stateMutability':'nonpayable','type':'function'},{'inputs':[{'internalType':'address','name':'UserAddress','type':'address'},{'internalType':'string','name':'Skill_Duration','type':'string'},{'internalType':'string','name':'Skill_Name','type':'string'},{'internalType':'string','name':'Skill_AssignedDate','type':'string'},{'internalType':'bytes','name':'Skill_Hash','type':'bytes'},{'internalType':'string','name':'Skill_CertifiedFor','type':'string'}],'name':'AddUserSkill','outputs':[],'stateMutability':'nonpayable','type':'function'},{'inputs':[{'internalType':'address','name':'UserAddress','type':'address'},{'internalType':'uint256','name':'RequestIndex','type':'uint256'},{'internalType':'uint256','name':'Skill_Duration','type':'uint256'},{'internalType':'uint256','name':'Skill_Name','type':'uint256'},{'internalType':'uint256','name':'Skill_AssignedDate','type':'uint256'},{'internalType':'uint256','name':'Skill_Hash','type':'uint256'},{'internalType':'uint256','name':'Skill_CertifiedFor','type':'uint256'},{'internalType':'uint256','name':'Skill_OverAll_Status','type':'uint256'}],'name':'UpdateRequestStatus','outputs':[],'stateMutability':'nonpayable','type':'function'},{'inputs':[{'internalType':'address','name':'UserAddress','type':'address'},{'internalType':'uint256','name':'RequestIndex','type':'uint256'}],'name':'ViewSkillRequestDetail','outputs':[{'internalType':'string','name':'RequestedBy','type':'string'},{'internalType':'uint256','name':'Skill_Duration','type':'uint256'},{'internalType':'uint256','name':'Skill_Name','type':'uint256'},{'internalType':'uint256','name':'Skill_AssignedDate','type':'uint256'},{'internalType':'uint256','name':'Skill_Hash','type':'uint256'},{'internalType':'uint256','name':'Skill_CertifiedFor','type':'uint256'},{'internalType':'uint256','name':'Skill_OverAll_Status','type':'uint256'}],'stateMutability':'view','type':'function'},{'inputs':[{'internalType':'address','name':'UserAddress','type':'address'},{'internalType':'uint256','name':'RequestIndex','type':'uint256'}],'name':'ViewSkillRequestHeader','outputs':[{'internalType':'string','name':'RequestedBy','type':'string'},{'internalType':'uint256','name':'Skill_OverAll_Status','type':'uint256'}],'stateMutability':'view','type':'function'},{'inputs':[{'internalType':'address','name':'UserAddress','type':'address'}],'name':'ViewSkillRequestLength','outputs':[{'internalType':'uint256','name':'','type':'uint256'}],'stateMutability':'view','type':'function'},{'inputs':[],'name':'skillWallet','outputs':[],'stateMutability':'nonpayable','type':'function'},{'inputs':[{'internalType':'address','name':'UserAddress','type':'address'},{'internalType':'uint256','name':'UserIndex','type':'uint256'}],'name':'viewUser','outputs':[{'internalType':'string','name':'FullName','type':'string'},{'internalType':'string','name':'EmailID','type':'string'},{'internalType':'uint256','name':'MobileNo','type':'uint256'}],'stateMutability':'view','type':'function'},{'inputs':[{'internalType':'address','name':'UserAddress','type':'address'},{'internalType':'uint256','name':'RequestIndex','type':'uint256'}],'name':'viewUserSkill','outputs':[{'internalType':'uint256','name':'Skill_Duration_S','type':'uint256'},{'internalType':'string','name':'Skill_Duration_V','type':'string'},{'internalType':'uint256','name':'Skill_Name_S','type':'uint256'},{'internalType':'string','name':'Skill_Name_V','type':'string'},{'internalType':'uint256','name':'Skill_AssignedDate_S','type':'uint256'},{'internalType':'string','name':'Skill_AssignedDate_V','type':'string'},{'internalType':'uint256','name':'Skill_Hash_S','type':'uint256'},{'internalType':'bytes','name':'Skill_Hash_V','type':'bytes'},{'internalType':'uint256','name':'Skill_CertifiedFor_S','type':'uint256'},{'internalType':'string','name':'Skill_CertifiedFor_V','type':'string'}],'stateMutability':'view','type':'function'}]">

</form>

<footer class="navbar-fixed-bottom">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="footer-copyright">
				&copy; 2021 SkillWallet
			</div>
		</div>
	</div>
</div>
</footer>

<!-- jQuery -->

<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/sweet-alert.min.js"></script>

</body>
</html>