<%- include("header") %>
<link rel="stylesheet" href="../public/css/style_bank.css" type="text/css">

<script>

var UserAddress="";

var Skill_No = 0;
var Skill_Name = 0;
var Skill_DOB = 0;
var Skill_Hash = 0;
var Skill_Address = 0;

window.addEventListener('load', async () => {
    if (window.ethereum) {
        window.web3 = new Web3(ethereum);
        try {
            await ethereum.enable();
			UserAddress=web3.eth.coinbase;
			viewUserSkill();
        } catch (error) {
            alert("User denied account access...");
        }
    }
    else if (window.web3) {
        window.web3 = new Web3(web3.currentProvider);
		UserAddress=web3.eth.coinbase;
		viewUserSkill();
    }
    else {
        alert('Non-Ethereum browser detected. You should consider trying MetaMask!');
    }
});

function viewUserSkill()
{
	var ABIString = document.getElementById("hdnContractABI").value; 
	ABIString = ABIString.replace(/'/g , "\"");
	ABIJSON = JSON.parse(ABIString);
	MyContract = web3.eth.contract(ABIJSON).at("<%=ContractAddress%>");
	
	requestlistchild = document.getElementById("requestlistchild");
	
	MyContract.viewUserSkill.call(UserAddress, <%=RequestIndex%>, function(error, result){
		if(!error)
		{
			//console.log(result);
			
			Skill_No = result[0].toNumber();
			Skill_No_Value = result[1];
			
			Skill_Name = result[2].toNumber();
			Skill_Name_Value = result[3];
			
			Skill_DOB = result[4].toNumber();
			Skill_DOB_Value = result[5];
			
			Skill_Hash = result[6].toNumber();
			Skill_Hash_Value = result[7];
			
			Skill_Address = result[8].toNumber(); 
			Skill_Address_Value = result[9]; 

		
			if(Skill_No > 0)
			{
				if(Skill_No == 2)
				{
					Skill_No_Status = "<font color='green'><b>Approved</b></font>";
				}
				else
				{
					Skill_No_Status = "Rejected";
					Skill_No_Value = "";
				}
				
				var listHTML = "<tr><td width='40%'>Driving Licence No.</td><td width='20%'>"+Skill_No_Status+"</td><td width='40%' align='center'>"+Skill_No_Value+"</td></tr>";
				requestlistchild.insertAdjacentHTML('beforeend',listHTML);
			}

			if(Skill_Name > 0)
			{
				if(Skill_Name == 2)
				{
					Skill_Name_Status = "<font color='green'><b>Approved</b></font>";
				}
				else
				{
					Skill_Name_Status = "<font color='red'><b>Rejected</b></font>";
					Skill_Name_Value = "";
				}
				
				var listHTML = "<tr><td width='40%'>Name as per Driving Licence</td><td width='20%'>"+Skill_Name_Status+"</td><td width='40%' align='center'>"+Skill_Name_Value+"</td></tr>";
				requestlistchild.insertAdjacentHTML('beforeend',listHTML);
			}

			if(Skill_DOB > 0)
			{
				if(Skill_DOB == 2)
				{
					Skill_DOB_Status = "<font color='green'><b>Approved</b></font>";
				}
				else
				{
					Skill_DOB_Status = "<font color='red'><b>Rejected</b></font>";
					Skill_DOB_Value = "";
				}
				
				var listHTML = "<tr><td width='40%'>Date Of Birth as per Driving Licence</td><td width='20%'>"+Skill_DOB_Status+"</td><td width='40%' align='center'>"+Skill_DOB_Value+"</td></tr>";
				requestlistchild.insertAdjacentHTML('beforeend',listHTML);
			}
			
			if(Skill_Hash > 0)
			{
				if(Skill_Hash == 2)
				{
					Skill_Hash_Status = "<font color='green'><b>Approved</b></font>";

					DrivingLicenceHash = hex2a(Skill_Hash_Value);
					document.getElementById("hdnDrivingLicenceHash").value=DrivingLicenceHash;
					
					showSkillBtn = "<button type='button' class='btn btn-primary btn-xs' onClick='showDrivingLicence()'>View Licence</button>";
				}
				else
				{
					Skill_Hash_Status = "<font color='red'><b>Rejected</b></font>";
					Skill_Hash_Value = "";
				}
				
				var listHTML = "<tr><td width='40%'>Digital Licence Copy</td><td width='20%'>"+Skill_Hash_Status+"</td><td width='40%' align='center'>"+showSkillBtn+"</td></tr>";
				requestlistchild.insertAdjacentHTML('beforeend',listHTML);
			}

			if(Skill_Address > 0)
			{
				if(Skill_Address == 2)
				{
					Skill_Address_Status = "<font color='green'><b>Approved</b></font>";
				}
				else
				{
					Skill_Address_Status = "<font color='red'><b>Rejected</b></font>";
					Skill_Address_Value = "";
				}
				
				var listHTML = "<tr><td width='40%'>Address as per Driving Licence</td><td width='20%'>"+Skill_Address_Status+"</td><td width='40%' align='center'>"+Skill_Address_Value+"</td></tr>";
				requestlistchild.insertAdjacentHTML('beforeend',listHTML);
			}
			
			
		}
		else
		{
			swal(error);
		}
	})
}

function hex2a(hexx) {
	var hex = hexx.substring(2,hexx.length)
    hex = hex.toString();//force conversion
    var str = '';
    for (var i = 0; i < hex.length; i += 2)
        str += String.fromCharCode(parseInt(hex.substr(i, 2), 16));
    return str;
}

function showDrivingLicence()
{
	var InvoiceHash = document.getElementById("hdnDrivingLicenceHash").value;

	const ipfs = window.IpfsApi('ipfs.infura.io', 5001, {protocol: 'https'}) // Connect to IPFS
	ipfs.files.get(InvoiceHash, function (err, stream) {
	  stream.on('data', (file) => {
		invoiceURL = "https://ipfs.io/ipfs/"+file.path;
		openInvoiceWindow(invoiceURL);
		//var certURLDiv = document.getElementById("certURLDiv");
		//certURLDiv.innerHTML = "<a href='"+URL+"' target='_blank'>"+URL+"</a>"
	  })
	})	
	
}

function openInvoiceWindow(invoiceURL)
{
	var modal = $('#mymodal'), modalBody = $('#mymodal .modal-body');

    modal
        .on('show.bs.modal', function () {
            //modalBody.load(certificateURL)
			document.getElementById("CertIFrame").src=invoiceURL;
			
        })
        .modal();
}

</script>

</head>
<body id="page-top">
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
<div class="container">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!--img src="../public/img/1ID-logo.png"-->
	</div>
	
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-right">
			<li>
				<a class="page-scroll" href="/">Home</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
	
</div>
<!-- /.container -->
</nav>

<form name="IntelitixForm" method="post" action="pubcert.asp">
<div class="container container_body">
	<div class="row">
		<div class="col-md-7 center-block">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">View Requested Data</h3>
				</div>
				<div class="panel-body">
					<table class="table table-bordered" id="requestlistparent">
						<tr>
							<td width="40" align="center"><b>Institution Name</b></td>
							<td width="40" align="center"><b><%=InstitutionName%></b></td>
						</tr>
					</table>
					
					<table class="table table-bordered" id="requestlistchild">
						<tr>
							<td colspan="3" align="center"><b>Requested Access</b></td>
						</tr>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</div>

<input type="hidden" id="hdnDrivingLicenceHash" name="hdnDrivingLicenceHash" value="">
<input type="hidden" id="hdnContractABI" name="hdnContractABI" value="[{'constant':true,'inputs':[{'name':'UserAddress','type':'address'},{'name':'RequestIndex','type':'uint256'}],'name':'ViewSkillRequestDetail','outputs':[{'name':'RequestedBy','type':'string'},{'name':'Skill_No','type':'uint256'},{'name':'Skill_Name','type':'uint256'},{'name':'Skill_DOB','type':'uint256'},{'name':'Skill_Hash','type':'uint256'},{'name':'Skill_Address','type':'uint256'},{'name':'Skill_OverAll_Status','type':'uint256'}],'payable':false,'stateMutability':'view','type':'function'},{'constant':false,'inputs':[{'name':'UserAddress','type':'address'},{'name':'FullName','type':'string'},{'name':'EmailID','type':'string'},{'name':'MobileNo','type':'uint256'}],'name':'AddUser','outputs':[],'payable':false,'stateMutability':'nonpayable','type':'function'},{'constant':true,'inputs':[{'name':'UserAddress','type':'address'}],'name':'ViewSkillRequestLength','outputs':[{'name':'','type':'uint256'}],'payable':false,'stateMutability':'view','type':'function'},{'constant':false,'inputs':[{'name':'UserAddress','type':'address'},{'name':'Skill_No','type':'string'},{'name':'Skill_Name','type':'string'},{'name':'Skill_DOB','type':'string'},{'name':'Skill_Hash','type':'bytes'},{'name':'Skill_Address','type':'string'}],'name':'AddUserSkill','outputs':[],'payable':false,'stateMutability':'nonpayable','type':'function'},{'constant':true,'inputs':[{'name':'UserAddress','type':'address'},{'name':'RequestIndex','type':'uint256'}],'name':'viewUserSkill','outputs':[{'name':'Skill_No_S','type':'uint256'},{'name':'Skill_No_V','type':'string'},{'name':'Skill_Name_S','type':'uint256'},{'name':'Skill_Name_V','type':'string'},{'name':'Skill_DOB_S','type':'uint256'},{'name':'Skill_DOB_V','type':'string'},{'name':'Skill_Hash_S','type':'uint256'},{'name':'Skill_Hash_V','type':'bytes'},{'name':'Skill_Address_S','type':'uint256'},{'name':'Skill_Address_V','type':'string'}],'payable':false,'stateMutability':'view','type':'function'},{'constant':true,'inputs':[{'name':'UserAddress','type':'address'},{'name':'RequestIndex','type':'uint256'}],'name':'ViewSkillRequestHeader','outputs':[{'name':'RequestedBy','type':'string'},{'name':'Skill_OverAll_Status','type':'uint256'}],'payable':false,'stateMutability':'view','type':'function'},{'constant':true,'inputs':[{'name':'UserAddress','type':'address'},{'name':'UserIndex','type':'uint256'}],'name':'viewUser','outputs':[{'name':'FullName','type':'string'},{'name':'EmailID','type':'string'},{'name':'MobileNo','type':'uint256'}],'payable':false,'stateMutability':'view','type':'function'},{'constant':false,'inputs':[{'name':'UserAddress','type':'address'},{'name':'RequestIndex','type':'uint256'},{'name':'Skill_No','type':'uint256'},{'name':'Skill_Name','type':'uint256'},{'name':'Skill_DOB','type':'uint256'},{'name':'Skill_Hash','type':'uint256'},{'name':'Skill_Address','type':'uint256'},{'name':'Skill_OverAll_Status','type':'uint256'}],'name':'UpdateRequestStatus','outputs':[],'payable':false,'stateMutability':'nonpayable','type':'function'},{'constant':false,'inputs':[{'name':'UserAddress','type':'address'},{'name':'RequestedBy','type':'string'},{'name':'Skill_No','type':'uint256'},{'name':'Skill_Name','type':'uint256'},{'name':'Skill_DOB','type':'uint256'},{'name':'Skill_Hash','type':'uint256'},{'name':'Skill_Address','type':'uint256'},{'name':'Skill_OverAll_Status','type':'uint256'}],'name':'AddSkillRequest','outputs':[],'payable':false,'stateMutability':'nonpayable','type':'function'},{'inputs':[],'payable':false,'stateMutability':'nonpayable','type':'constructor'}]">

</form>

<div class='modal fade' id='mymodal'>
    <div class='modal-dialog modal-lg'>
      <div class='modal-content'>
        <div class='modal-body'><iframe id="CertIFrame" src="" width="100%" height="500" frameborder="0"></iframe></div>
        <div class='modal-footer'>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
</div>

<footer class="navbar-fixed-bottom">
<div class="container">
	<div class="row">
		<div class="col-md-12 text-center">
			<div class="footer-copyright">
				&copy; 2021 SkillWallet
			</div>
		</div>
	</div>
</div>
</footer>

<script src="../public/js/ipfsapi/index.js"></script>
<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.min.js"></script>
<script src="../public/js/sweet-alert.min.js"></script>

</body>
</html>